.nav-bar {    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 88px;
    position: relative;

    display: flex;
}

.nav-bar .nav-logo {
    background-color: rgb(202, 255, 255);
    width: 160px;
}

.nav-bar .nav-logo img {
    width: 120px;
    height: auto;
    position: absolute;
    top: -16px;
    left: 22px;
}

.nav-bar ul {
    flex: 1;
    background-color:#4169E1;
    margin: 0;
    padding: 0;
}

.nav-bar ul li{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 160px;
    height: 100%;
    position: relative;
    transition: background-color 220ms linear;
}


.nav-bar li.login {
    float: right;
}

.nav-bar ul li:hover {
    background-color: #27418f;
}

.nav-bar li::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: 0;
    transition: width 220ms linear;
}

.nav-bar li:hover::after {
    width: 98%;
    transition: width 250ms linear;
    transition-delay: 70ms;
}

.nav-bar .active a {
    color: #fff;
}

.nav-bar .active::after {
    content: '';
    display: block;
    width: 98%;
    height: 4px;
    background-color: white;
}

.nav-bar a { 
    width: 100%;
    height: 100%;
    color: #e3eeff; 
    padding: 14px 16px; 
    text-decoration: none; 
    font-size: 1.1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar li:hover a {
    color: #fff;
}